/* body {
    text-align: center;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    background: #000;
}
div {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 14rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
} */

/* 로딩이미지 */
/* #loading {
    transition: all 1s;
    background-color: #ddd;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
}
.spinner {
    width: 200px;
    height: 200px;
} */
/* 로딩 완료 후 로딩 이미지 감추기 */
/* .loaded {
    opacity: 0;
    visibility: hidden;
} */
/* 콘텐츠 부분 */
/* .gallery {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
img {
    width: 100%;
    height: 300px;
    object-fit: cover;
} */
/* 로딩이미지 */
/* body {
    padding: 2rem;
    transition: 0.5s;
}
.dark-theme {
    background: #000;
    color: #ddd;
}
#btn {
    background: #0bd;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    color: #fff;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
} */
/* 글자수세기 */
/* body {
    text-align: center;
    padding: 2rem;
}
#text {
    border: 4px solid #ccc;
    border-radius: 8px;
    width: 600px;
    height: 240px;
    max-width: 100%;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}
#count {
    font-size: 1.5rem;
}
.alert {
    color: #f66;
} */

/* 버튼상태변경 */
/* body{
    text-align: center;
    padding: 2rem;
}
label{
    display: block;
    margin-bottom: 3rem;
}
#btn{
    background: #0bd;
    padding: .75rem 1rem;
    border-radius: 8px;
}
#btn:disabled{
    background: #ccc;
} */

/* 스크롤 */
/* #bar {
    background-color: #0bd;
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
}
article {
    max-width: 800px;
    margin: auto;
    padding: 2rem;
    line-height: 1.8;
}
h2 {
    margin: 2rem 0 1rem;
} */

/* 5.1 이미지 메뉴 소개 */
/* body {
    text-align: center;
    font-family: "Noto Serif KR", serif;
}
#menu {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1020px;
    margin: auto;
    padding: 30px;
}
img {
    width: 100%;
    aspect-ratio: 4 3;
    object-fit: cover;
}
h1 {
    margin: 30px 0;
    font-size: 40px;
}
h2 {
    margin-top: 6px;
} */

/* 제목이 밑에서부터 떠오르는 것처럼 나타내기 */
/* body {
    text-align: center;
} */

/* 배경이 늘어나는 제목 만들기 */
body {
    text-align: center;
}
h1 {
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(90deg, #0bd, #0bd 50%, #fff 50%, #fff);
    background-size: 200% 100%;
    padding: 0.5rem 1rem;
}
