/* 로딩 이미지 */
#loading {
  /* transition 부드럽게 전환 */
    transition: all 1s; 
    background-color: #ddd;
    position: fixed;
    /* 9999는 최상단 배치 */
    z-index: 9999;
    /* top,right,bottom,left를 모두 0으로 하여 화면 꽉 채움 */
    inset: 0;
    /* 격자 배치 */
    display: grid;
    /* 중앙정렬 */
    place-items: center;
}
.spinner {
    width: 200px;
    height: 200px;
}
/* 로딩 완료 후 로딩 이미지 감추기 */
.loaded {
  /* 투명도 0 */
    opacity: 0;
    visibility: hidden;
}
/* 콘텐츠 부분 */
.gallery {
    display: grid;
    /* 아이템 사이 간격 */
    gap: 10px;
    /* 열 자동 생성, 각 열 최소300px, 최대는 가용 공간1fr */
    /* fr은 남은 공간을 나누는 단위 */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.img {
    width: 100%;
    height: 300px;
    /* 이미지 비율유지하며 꽉 채움 */
    object-fit: cover;
}
